#projects {
    padding: 1rem;
    display: flex;
    justify-content: center;
    
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 20vw;
    gap: 1rem;
    border-radius: 1rem;
    outline: 3px solid black;

    h1 {
        color: white;
    }
}

.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}